.background
  = render "shared/exhibit-btn"
  = render "shared/header"

  .mypage-wrapper
    .form-box
      %h2.formhead 本人情報の登録
      %form.form-box__body
        %p お客さまの本人情報をご登録ください。
        登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        %p
          = link_to  "", class: "link-to-document" do
            本人確認書類のアップロードについて
            = fa_icon "angle-right", class: "arrow-right"
        .form-box__body-element
          %label お名前
          %p 銅鑼　衛門
        .form-box__body-element
          %label お名前カナ
          %p カゼノ　マタサブロウ
        .form-box__body-element
          %label 生年月日
          %p 2019/11/6
        .form-box__body-element
          %label 郵便番号
          %span.form-box__body-element-arbitrary
            任意
          %input.form-box__body-element-input{type: "text", name: "zip_code", placeholder: "例)1234567"}
        .form-box__body-element
          %label 都道府県
          %span.form-box__body-element-arbitrary
            任意
          .select-wrap
            = fa_icon "angle-down", class: "angle-down"
            %select.select
              %option --
              %option 北海道
              %option 青森県
              %option 岩手県
              %option 宮城県
              %option 秋田県
              %option 山形県
              %option 福島県
              %option 東京都
              %option 神奈川県
              %option 埼玉県
              %option 千葉県
              %option 茨城県
              %option 栃木県
              %option 群馬県
              %option 山梨県
              %option 新潟県
              %option 長野県
              %option 富山県
              %option 石川県
              %option 福井県
              %option 愛知県
              %option 岐阜県
              %option 静岡県
              %option 三重県
              %option 大阪府
              %option 兵庫県
              %option 京都府
              %option 滋賀県
              %option 奈良県
              %option 和歌山県
              %option 鳥取県
              %option 島根県
              %option 岡山県
              %option 広島県
              %option 山口県
              %option 徳島県
              %option 香川県
              %option 愛媛県
              %option 高知県
              %option 福岡県
              %option 佐賀県
              %option 長崎県
              %option 熊本県
              %option 大分県
              %option 宮崎県
              %option 鹿児島県
              %option 沖縄県
        .form-box__body-element
          %label 市区町村
          %span.form-box__body-element-arbitrary
            任意
          %input.form-box__body-element-input{type: "text", name: "city", placeholder: "例)横浜市緑区"}
        .form-box__body-element
          %label 番地
          %span.form-box__body-element-arbitrary
            任意
          %input.form-box__body-element-input{type: "text", name: "address1", placeholder: "例)青山1-1-1"}
        .form-box__body-element
          %label 建物名
          %span.form-box__body-element-arbitrary
            任意
          %input.form-box__body-element-input{type: "text", name: "address2", placeholder: "例)柳ビル103"}
        %button.form-box__btn{type: "submit"}登録する
        .form-box__body-element
          %p
            = link_to "", class: "link-to-document" do
              本人情報の登録について
              = fa_icon "angle-right", class: "arrow-right"

    .mypage-nav
      %ul.mypage-nav__list
        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            マイページ
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: "mypage-nav__list-item" do
            お知らせ
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            やることリスト
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            いいね！一覧
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            出品する
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            出品した商品-出品中
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            出品した商品-取引中
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            出品した商品-売却済み
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            購入した商品-取引中
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            購入した商品-過去の取引
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            ニュース一覧
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            評価一覧
            .arrow-right
              = fa_icon "angle-right"
              
        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            ガイド
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            お問い合わせ
            .arrow-right
              = fa_icon "angle-right"


      .side-menu__merpay
        .side-menu__merpay-head メルペイ
        %ul.side-menu__merpay-ul

          %li
            = link_to "mypage" do
              売上・振込申請
              .arrow-right
                = fa_icon "angle-right"

          %li
            = link_to "mypage", class: 'mypage-nav__list-item' do
              ポイント
              .arrow-right
                = fa_icon "angle-right"

      .side-menu__config
        .side-menu__config-head 設定
        %ul.side-menu__config-ul
          %li
            = link_to "mypage", class: 'mypage-nav__list-item' do
              プロフィール
              .arrow-right
                = fa_icon "angle-right"

          %li
            = link_to "mypage", class: 'mypage-nav__list-item' do
              発送元・お届け先住所変更
              .arrow-right
                = fa_icon "angle-right"
          %li
            = link_to "mypage", class: 'mypage-nav__list-item' do
              支払い方法
              .arrow-right
                = fa_icon "angle-right"
          %li
            = link_to "mypage", class: 'mypage-nav__list-item' do
              メール/パスワード
              .arrow-right
                = fa_icon "angle-right"
          %li
            = link_to "mypage", class: 'mypage-nav__list-item-mypage' do
              本人情報
              .arrow-right-mypage
                = fa_icon "angle-right"
          %li
            = link_to "mypage", class: 'mypage-nav__list-item' do
              電話番号の確認
              .arrow-right
                = fa_icon "angle-right"
          %li
            = link_to "users_logout_user_path", class: 'mypage-nav__list-item' do
              ログアウト
              .arrow-right
                = fa_icon "angle-right"

.background
  = render "shared/footer"