.background
  = render "shared/exhibit-btn"
  = render "shared/header"
  - breadcrumb :mypage
  = render "shared/breadcrumbs"

  .mypage-wrapper
    .main-content
      .content
        .content__user-panel
          = link_to  "", class: 'content__user-panel-link' do
            .content__user-panel-link-icon
              = image_tag  "https://static.mercdn.net/images/member_photo_noimage_thumb.png"
            .content__user-panel-link-nickname
              = current_user.nickname
            %ul.mypage-number
              %li
                評価
                %span
                  0
              %li.list-left
                出品数
                %span
                  = current_user.item_ids.length
        .mypage-tab-clearfix
          %ul.mypage-tabs
            %li.news__tab-left
              = link_to "mypage-tab-notification", class: 'news-link1' do
                お知らせ

            %li.todo__tab-right
              = link_to "" do
                やることリスト

        .tab-content                  
          %ul.tab-content__item-list

            %li.tab-content__item-list-item
              = link_to "", class: 'tab-content__item-list-item__link' do
                .tab-content__item-list-item__link-wrapper
                  .tab-content__item-list-item__link-wrapper-image
                    = image_tag "https://static.mercdn.net/images/mercari_profile.png"
                  .mypage-item-body
                    .mypage-item-text 事務局から個別メッセージ「お近くで開催予定！「メルカリ教室 出品体験編」のご案内」
                    %time
                      %i.far.fa-clock
                      %span.mypage-item__time-before 1 日前
                  .angle
                    = fa_icon "angle-right"
            
            %li.tab-content__item-list-item
              = link_to "", class: 'tab-content__item-list-item__link' do
                .tab-content__item-list-item__link-wrapper
                  .tab-content__item-list-item__link-wrapper-image
                    = image_tag "https://static.mercdn.net/images/mercari_profile.png"
                  .mypage-item-body
                    .mypage-item-text 【明日が最終日】”1,000円分のポイントが必ずもらえる”キャンペーン詳細はこちら！
                    %time
                      %i.far.fa-clock
                      %span 2 日前
                  .angle
                    = fa_icon "angle-right"
                      
            %li.tab-content__item-list-item
              = link_to "", class: 'tab-content__item-list-item__link' do
                .tab-content__item-list-item__link-wrapper
                  .tab-content__item-list-item__link-wrapper-image
                    = image_tag "https://static.mercdn.net/images/mercari_profile.png"
                  .mypage-item-body
                    .mypage-item-text 【1,000円分のポイントが必ずもらえる】キャンペーン実施中！詳細はこちら！
                    %time
                      %i.far.fa-clock
                      %span 4 日前
                  .angle
                    = fa_icon "angle-right"

            %li.tab-content__item-list-item
              = link_to "", class: 'tab-content__item-list-item__link' do
                .tab-content__item-list-item__link-wrapper
                  .tab-content__item-list-item__link-wrapper-image
                    = image_tag "https://static.mercdn.net/images/mercari_profile.png"
                  .mypage-item-body
                    .mypage-item-text かゆい所に手が届く！厚めの商品発送にオススメの「ゆうパケットプラス」が新登場！
                    %time
                      %i.far.fa-clock
                      %span 5 日前
                  .angle
                    = fa_icon "angle-right"              

            %li.tab-content__item-list-item.list-go
              = link_to "", class: 'list-go__link' do
                一覧を見る

        .mypage-tab__container
          .mypage-tab__container-head
            購入した商品

          %ul
            %li.transaction-going
              = link_to "" do
                取引中

            %li.transaction-past
              = link_to "" do
                過去の取引


          .tab-content
            %ul.mypage-item-list
              %li.mypage-item-not-found
                取引中の商品がありません

    = render "shared/mypage-nav"

.background
  = render "shared/footer"