.footer
  .footer__head
    .footer__head__area
      .footer__head__area--left
        .footer__head__area--left--top
          スマホでかんたんフリマアプリ
        .footer__head__area--left--middle
          今すぐ無料ダウンロード！
        .footer__head__area--left--bottom
          .footer__head__area--left--bottom--mercari-logo
            = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png", class: "mercari-logo-s"
          = link_to "" do
            .footer__head__area--left--bottom--app-store
              = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class: "app-store-s"
          = link_to "" do
            .footer__head__area--left--bottom--google-play
              = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", class: "google-play-s"
      .footer__head__area--right
        = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png", class: "phone-img-s"
  .footer__foot
    .footer__foot__body
      .footer__foot__body--top
        .footer__foot__body--top--about
          .footer__foot__body--top--about--name
            メルカリについて
          .footer__foot__body--top--about--list
            = link_to "" do
              .footer__foot__body--top--about--list--s
                会社概要（運営会社）
            = link_to "" do
              .footer__foot__body--top--about--list--s
                採用情報
            = link_to "" do
              .footer__foot__body--top--about--list--s
                プレスリリース
            = link_to "" do
              .footer__foot__body--top--about--list--s
                公式ブログ
            = link_to "" do
              .footer__foot__body--top--about--list--s
                メルカリロゴ利用ガイドライン
            .footer__foot__body--top--about--list--icon
              = link_to "" do
                .footer__foot__body--top--about--list--twitter
                  %i.fab.fa-twitter
              = link_to "" do
                .footer__foot__body--top--about--list--facebook
                  %i.fa.fa-facebook-square{"aria-hidden" => "true"}
        .footer__foot__body--top--help
          .footer__foot__body--top--help--name
            ヘルプ＆ガイド
          .footer__foot__body--top--help--list
            = link_to "" do
              .footer__foot__body--top--help--list--s
                メルカリガイド
            = link_to "" do
              .footer__foot__body--top--help--list--s
                らくらくメルカリ便
            = link_to "" do
              .footer__foot__body--top--help--list--s
                ゆうゆうメルカリ便
            = link_to "" do
              .footer__foot__body--top--help--list--s
                大型メルカリ便
            = link_to "" do
              .footer__foot__body--top--help--list--s
                車体取引ガイド
            = link_to "" do
              .footer__foot__body--top--help--list--s
                メルカリあんしん・あんぜん宣言！
            = link_to "" do
              .footer__foot__body--top--help--list--s
                偽ブランド品撲滅への取り組み
            = link_to "" do
              .footer__foot__body--top--help--list--s
                メルカリボックス
        .footer__foot__body--top--privacy
          .footer__foot__body--top--privacy--name
            プライバシーと利用規約
          .footer__foot__body--top--privacy--list
            .footer__foot__body--top--privacy--list--left
              = link_to "" do
                .footer__foot__body--top--privacy--list--left--s
                  プライバシーポリシー
              = link_to "" do
                .footer__foot__body--top--privacy--list--left--s
                  メルカリ利用規約
              = link_to "" do
                .footer__foot__body--top--privacy--list--left--s
                  あんしんスマホサポート制度に関する利用特約
              = link_to "" do
                .footer__foot__body--top--privacy--list--left--s
                  コンプライアンスポリシー
            .footer__foot__body--top--privacy--list--right
              = link_to "" do
                .footer__foot__body--top--privacy--list--right--s
                  個人データの安全管理に係る基本方針
              = link_to "" do
                .footer__foot__body--top--privacy--list--right--s
                  特定商取引に関する表記
              = link_to "" do
                .footer__foot__body--top--privacy--list--right--s
                  資金決済法に基づく表示
              = link_to "" do
                .footer__foot__body--top--privacy--list--right--s
                  法令順守と犯罪抑止のために
        .footer__foot__body--top--country
          .footer__foot__body--top--country--name
            国
          .footer__foot__body--top--country--list
            = link_to "" do
              .footer__foot__body--top--country--list--s
                日本
            = link_to "" do
              .footer__foot__body--top--country--list--s
                United States
      .footer__foot__body--bottom
        = link_to root_path, class: "footer__foot__body--bottom--left" do
          = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg",class: "mercari-logo-white"
        .footer__foot__body--bottom--right
          © 2019 Mercari