.forth-box__body--content
  %a{href:""}
    .forth-box__body--content--head
      .forth-box__body--content--head--photo
        = image_tag 'https://static.mercdn.net/thumb/photos/m79719340269_1.jpg?1572100350'
    .forth-box__body--content--foot--detail
      .forth-box__body--content--foot--detail--name
        【お買い得】EIZO ショートブーツ
        .forth-box__body--content--foot--detail--name--hide
      .forth-box__body--content--foot--detail--bottom-bar
        .forth-box__body--content--foot--detail--bottom-bar--price
          ¥6,000
        .forth-box__body--content--foot--detail--bottom-bar--good
          %i.far.fa-heart
          .forth-box__body--content--foot--detail--bottom-bar--good--content
            2
.forth-box__body--content
  %a{href:""}
    .forth-box__body--content--head
      .forth-box__body--content--head--photo
        = image_tag 'https://static.mercdn.net/thumb/photos/m79719340269_1.jpg?1572100350'
    .forth-box__body--content--foot--detail
      .forth-box__body--content--foot--detail--name
        【お買い得】EIZO ショートブーツ
        .forth-box__body--content--foot--detail--name--hide
      .forth-box__body--content--foot--detail--bottom-bar
        .forth-box__body--content--foot--detail--bottom-bar--price
          ¥6,000
        .forth-box__body--content--foot--detail--bottom-bar--good
          %i.far.fa-heart
          .forth-box__body--content--foot--detail--bottom-bar--good--content
            2
.forth-box__body--content
  %a{href:""}
    .forth-box__body--content--head
      .forth-box__body--content--head--photo
        = image_tag 'https://static.mercdn.net/thumb/photos/m79719340269_1.jpg?1572100350'
    .forth-box__body--content--foot--detail
      .forth-box__body--content--foot--detail--name
        【お買い得】EIZO ショートブーツ
        .forth-box__body--content--foot--detail--name--hide
      .forth-box__body--content--foot--detail--bottom-bar
        .forth-box__body--content--foot--detail--bottom-bar--price
          ¥6,000
        .forth-box__body--content--foot--detail--bottom-bar--good
          %i.far.fa-heart
          .forth-box__body--content--foot--detail--bottom-bar--good--content
            2
.forth-box__body--content
  %a{href:""}
    .forth-box__body--content--head
      .forth-box__body--content--head--photo
        = image_tag 'https://static.mercdn.net/thumb/photos/m79719340269_1.jpg?1572100350'
    .forth-box__body--content--foot--detail
      .forth-box__body--content--foot--detail--name
        【お買い得】EIZO ショートブーツ
        .forth-box__body--content--foot--detail--name--hide
      .forth-box__body--content--foot--detail--bottom-bar
        .forth-box__body--content--foot--detail--bottom-bar--price
          ¥6,000
        .forth-box__body--content--foot--detail--bottom-bar--good
          %i.far.fa-heart
          .forth-box__body--content--foot--detail--bottom-bar--good--content
            2
.forth-box__body--content
  %a{href:""}
    .forth-box__body--content--head
      .forth-box__body--content--head--photo
        = image_tag 'https://static.mercdn.net/thumb/photos/m79719340269_1.jpg?1572100350'
    .forth-box__body--content--foot--detail
      .forth-box__body--content--foot--detail--name
        【お買い得】EIZO ショートブーツ
        .forth-box__body--content--foot--detail--name--hide
      .forth-box__body--content--foot--detail--bottom-bar
        .forth-box__body--content--foot--detail--bottom-bar--price
          ¥6,000
        .forth-box__body--content--foot--detail--bottom-bar--good
          %i.far.fa-heart
          .forth-box__body--content--foot--detail--bottom-bar--good--content
            2
.forth-box__body--content
  %a{href:""}
    .forth-box__body--content--head
      .forth-box__body--content--head--photo
        = image_tag 'https://static.mercdn.net/thumb/photos/m79719340269_1.jpg?1572100350'
    .forth-box__body--content--foot--detail
      .forth-box__body--content--foot--detail--name
        【お買い得】EIZO ショートブーツ
        .forth-box__body--content--foot--detail--name--hide
      .forth-box__body--content--foot--detail--bottom-bar
        .forth-box__body--content--foot--detail--bottom-bar--price
          ¥6,000
        .forth-box__body--content--foot--detail--bottom-bar--good
          %i.far.fa-heart
          .forth-box__body--content--foot--detail--bottom-bar--good--content
            2
