.bottom-box__body--content
  %a{href:""}
    .bottom-box__body--content--head
      .bottom-box__body--content--head--photo
        = image_tag 'https://static.mercdn.net/thumb/photos/m63222614874_1.jpg?1572847466'
    .bottom-box__body--content--foot--detail
      .bottom-box__body--content--foot--detail--name
        NIKE ナイキ レディーストレーニングシューズ U
        .bottom-box__body--content--foot--detail--name--hide
      .bottom-box__body--content--foot--detail--bottom-bar
        .bottom-box__body--content--foot--detail--bottom-bar--price
          ¥13,980
        .bottom-box__body--content--foot--detail--bottom-bar--good
          %i.far.fa-heart
          .bottom-box__body--content--foot--detail--bottom-bar--good--content
            4
.bottom-box__body--content
  %a{href:""}
    .bottom-box__body--content--head
      .bottom-box__body--content--head--photo
        = image_tag 'https://static.mercdn.net/thumb/photos/m63222614874_1.jpg?1572847466'
    .bottom-box__body--content--foot--detail
      .bottom-box__body--content--foot--detail--name
        NIKE ナイキ レディーストレーニングシューズ U
        .bottom-box__body--content--foot--detail--name--hide
      .bottom-box__body--content--foot--detail--bottom-bar
        .bottom-box__body--content--foot--detail--bottom-bar--price
          ¥13,980
        .bottom-box__body--content--foot--detail--bottom-bar--good
          %i.far.fa-heart
          .bottom-box__body--content--foot--detail--bottom-bar--good--content
            4
.bottom-box__body--content
  %a{href:""}
    .bottom-box__body--content--head
      .bottom-box__body--content--head--photo
        = image_tag 'https://static.mercdn.net/thumb/photos/m63222614874_1.jpg?1572847466'
    .bottom-box__body--content--foot--detail
      .bottom-box__body--content--foot--detail--name
        NIKE ナイキ レディーストレーニングシューズ U
        .bottom-box__body--content--foot--detail--name--hide
      .bottom-box__body--content--foot--detail--bottom-bar
        .bottom-box__body--content--foot--detail--bottom-bar--price
          ¥13,980
        .bottom-box__body--content--foot--detail--bottom-bar--good
          %i.far.fa-heart
          .bottom-box__body--content--foot--detail--bottom-bar--good--content
            4
.bottom-box__body--content
  %a{href:""}
    .bottom-box__body--content--head
      .bottom-box__body--content--head--photo
        = image_tag 'https://static.mercdn.net/thumb/photos/m63222614874_1.jpg?1572847466'
    .bottom-box__body--content--foot--detail
      .bottom-box__body--content--foot--detail--name
        NIKE ナイキ レディーストレーニングシューズ U
        .bottom-box__body--content--foot--detail--name--hide
      .bottom-box__body--content--foot--detail--bottom-bar
        .bottom-box__body--content--foot--detail--bottom-bar--price
          ¥13,980
        .bottom-box__body--content--foot--detail--bottom-bar--good
          %i.far.fa-heart
          .bottom-box__body--content--foot--detail--bottom-bar--good--content
            4
.bottom-box__body--content
  %a{href:""}
    .bottom-box__body--content--head
      .bottom-box__body--content--head--photo
        = image_tag 'https://static.mercdn.net/thumb/photos/m63222614874_1.jpg?1572847466'
    .bottom-box__body--content--foot--detail
      .bottom-box__body--content--foot--detail--name
        NIKE ナイキ レディーストレーニングシューズ U
        .bottom-box__body--content--foot--detail--name--hide
      .bottom-box__body--content--foot--detail--bottom-bar
        .bottom-box__body--content--foot--detail--bottom-bar--price
          ¥13,980
        .bottom-box__body--content--foot--detail--bottom-bar--good
          %i.far.fa-heart
          .bottom-box__body--content--foot--detail--bottom-bar--good--content
            4
.bottom-box__body--content
  %a{href:""}
    .bottom-box__body--content--head
      .bottom-box__body--content--head--photo
        = image_tag 'https://static.mercdn.net/thumb/photos/m63222614874_1.jpg?1572847466'
    .bottom-box__body--content--foot--detail
      .bottom-box__body--content--foot--detail--name
        NIKE ナイキ レディーストレーニングシューズ U
        .bottom-box__body--content--foot--detail--name--hide
      .bottom-box__body--content--foot--detail--bottom-bar
        .bottom-box__body--content--foot--detail--bottom-bar--price
          ¥13,980
        .bottom-box__body--content--foot--detail--bottom-bar--good
          %i.far.fa-heart
          .bottom-box__body--content--foot--detail--bottom-bar--good--content
            4
