= link_to "" do
  .item
    .gradient
    .image
      = image_tag "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", class: "item-img"
      .price
        ¥10,000
    .detail
      美品！！ ナイキ シューズ 白赤 NIKE ORDERS
= link_to "" do
  .item
    .gradient
    .image
      = image_tag "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", class: "item-img"
      .price
        ¥10,000
    .detail
      美品！！ ナイキ シューズ 白赤 NIKE ORDERS
= link_to "" do
  .item
    .gradient
    .image
      = image_tag "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", class: "item-img"
      .price
        ¥10,000
    .detail
      美品！！ ナイキ シューズ 白赤 NIKE ORDERS
= link_to "" do
  .item
    .gradient
    .image
      = image_tag "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", class: "item-img"
      .price
        ¥10,000
    .detail
      美品！！ ナイキ シューズ 白赤 NIKE ORDERS
= link_to "" do
  .item
    .gradient
    .image
      = image_tag "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", class: "item-img"
      .price
        ¥10,000
    .detail
      美品！！ ナイキ シューズ 白赤 NIKE ORDERS
= link_to "" do
  .item
    .gradient
    .image
      = image_tag "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", class: "item-img"
      .price
        ¥10,000
    .detail
      美品！！ ナイキ シューズ 白赤 NIKE ORDERS
= link_to "" do
  .item
    .gradient
    .image
      = image_tag "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", class: "item-img"
      .price
        ¥10,000
    .detail
      美品！！ ナイキ シューズ 白赤 NIKE ORDERS
= link_to "" do
  .item
    .gradient
    .image
      = image_tag "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", class: "item-img"
      .price
        ¥10,000
    .detail
      美品！！ ナイキ シューズ 白赤 NIKE ORDERS
= link_to "" do
  .item
    .gradient
    .image
      = image_tag "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", class: "item-img"
      .price
        ¥10,000
    .detail
      美品！！ ナイキ シューズ 白赤 NIKE ORDERS
= link_to "" do
  .item
    .gradient
    .image
      = image_tag "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", class: "item-img"
      .price
        ¥10,000
    .detail
      美品！！ ナイキ シューズ 白赤 NIKE ORDERS
