.background
  = render "shared/header-sp"

.detail-background
  .top-box
    .top-box__top
      .top-box__top--bar
        = @item.name
      .top-box__detail
        .top-box__detail--left.posi-rela
          %ul.top-box__detail--left--main-photo
            - @item.images.each_with_index do |image, i|
              %li.top-box__detail--left--main-photo--list
                = image_tag @item.images[i].variant(resize:'500x500',auto_orient: true).processed
          %ul.top-box__detail--left--sub-photo
            - @item.images.each_with_index do |image, i|
              %li.top-box__detail--left--sub-photo--s
                = image_tag @item.images[i].variant(resize:'500x500',auto_orient: true).processed
          - if @item.process == "sellcomp"
            .tag-sold
            .sold SOLD
        .top-box__detail--right
          .top-box__detail--right--author
            .top-box__detail--right--author--menu
              出品者
            .top-box__detail--right--author--name
              .top-box__detail--right--author--name--link
                = link_to "" do
                  = @item.user.nickname
                .top-box__detail--right--author--name--evaluation
                  .top-box__detail--right--author--name--evaluation--mark
                    %i.fas.fa-grin
                    .top-box__detail--right--author--name--evaluation--mark--num
                      2
                  .top-box__detail--right--author--name--evaluation--mark
                    %i.fas.fa-meh
                    .top-box__detail--right--author--name--evaluation--mark--num
                      1
                  .top-box__detail--right--author--name--evaluation--mark
                    %i.fas.fa-frown
                    .top-box__detail--right--author--name--evaluation--mark--num
                      10

          .top-box__detail--right--category
            .top-box__detail--right--category--menu
              カテゴリー
            .top-box__detail--right--category--link
              .top-box__detail--right--category--link--l
                = link_to "レディース", ""
              .top-box__detail--right--category--link--m
              = link_to "" do
                %i.fas.fa-angle-right
                靴
              .top-box__detail--right--category--link--s
              = link_to "" do
                %i.fas.fa-angle-right
                スニーカー
          .top-box__detail--right--brand
            .top-box__detail--right--brand--menu
              ブランド
            .top-box__detail--right--brand--link
              = link_to "ナイキ", ""
          .top-box__detail--right--size
            .top-box__detail--right--size--menu
              商品のサイズ
            .top-box__detail--right--size--content
              22.5cm

          .top-box__detail--right--status
            .top-box__detail--right--status--menu
              商品の状態
            .top-box__detail--right--status--content
              = @item.status
          .top-box__detail--right--delivery-fee
            .top-box__detail--right--delivery-fee--menu
              配送料の負担
            .top-box__detail--right--delivery-fee--content
              = @item.delivery_fee
          .top-box__detail--right--delivery-way
            .top-box__detail--right--delivery-way--menu
              配送の方法
            .top-box__detail--right--delivery-way--content
              = @item.delivery_type
          .top-box__detail--right--address
            .top-box__detail--right--address--menu
              配送元地域
            .top-box__detail--right--address--link
              = link_to "" do
                = @item.delivery_origin
          .top-box__detail--right--delivery-date
            .top-box__detail--right--delivery-date--menu
              発送日の目安
            .top-box__detail--right--delivery-date--content
              = @item.schedule
      .top-box__price
        .top-box__price--reft
          ¥
          = @item.price.to_s(:delimited)
        .top-box__price--right
          .top-box__price--right.tax
            (税込)
          .top-box__price--right.fee
            送料込み
      - if @item.process == "selling"
        = link_to new_item_transaction_path(@item), class: "top-box__buy-btn" do
          購入画面に進む
      - else
        .top-box__sold-btn 売り切れました
    .top-box__middle
      .top-box__middle--explanation
        .top-box__middle--explanation--content
          = simple_format(@item.explanation)
    .top-box__bottom
      .top-box__bottom--left
        %a.top-box__bottom--left--nogood
          .top-box__bottom--left--nogood--icon
            %i.far.fa-heart
            いいね!
            12
        %a.top-box__bottom--left--good
          .top-box__bottom--left--good--icon
            %i.fas.fa-heart
            いいね!
            13
        = link_to "" do
          .top-box__bottom--left--bad
            %i.far.fa-flag
            不適切な商品の報告
      = link_to "" do
        .top-box__bottom--right
          %i.fas.fa-lock
          あんしん・あんぜんへの取り組み
  
  .second-box
    .second-box__head
      = link_to "" do
        .second-box__head--left
          .second-box__head--left--photo
            = image_tag '//static.mercdn.net/thumb/members/718985185.jpg?1509934805'
          .second-box__head--left--author
            出品者
      .second-box__head--right
        .second-box__head--right--callout
          %i.fas.fa-caret-down
        = link_to "" do
          .second-box__head--right--name
            = @item.user.nickname
        .second-box__head--right--coment
          .second-box__head--right--coment--content
            コメントありがとうございます
            %br/
            普段は23.5cmですがつま先が当たる感じと圧迫感が強く、違うタイプのナイキの24cmを買い直したところちょうど良かったです。
          .second-box__head--right--coment--detail
            .second-box__head--right--coment--detail--time
              %i.far.fa-clock
              171日前
            = link_to "" do
              .second-box__head--right--coment--detail--bad
                %i.far.fa-flag

    .second-box__foot
      .second-box__foot--warning
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = form_for root_path, method: :post, html: { class: :search } do |f|
        = f.text_area :text, class: "second-box__foot--text-field",name: "keyword", value: ""
      = link_to "" do
        .second-box__foot--submit-btn
          コメントする
  
  .link-bar
    = link_to "" do
      .link-bar--left-link
        .link-bar--left-link--icon
          %i.fas.fa-angle-left
        .link-bar--left-link--content
          Loro Piana(ロロ・ピアーナ)生地 ネイビースーツ サイズ44
    = link_to "" do
      .link-bar--right-link
        .link-bar--right-link--content
          アウディ　サイドマーカーレンズ
        .link-bar--right-link--icon
          %i.fas.fa-angle-right

  .third-box
    .third-box__head
    .third-box__foot
      = link_to "" do
        .third-box__foot--facebook
          %i.fab.fa-facebook-square
      .third-box__foot--twitter
        = link_to "" do
          .third-box__foot--twitter--box
            %i.fab.fa-twitter
      = link_to "" do
        .third-box__foot--pinterest
          %i.fab.fa-pinterest
        
  - if @others.present?
    .forth-box
      = link_to "" do
        .forth-box__header
          = @item.user.nickname
          さんのその他の出品
      .forth-box__body
        = render "shared/other-user-items"
  - else
    .forth-box-none
      = @item.user.nickname
      さんのその他の出品はありません

.background
  = render "shared/footer"