.background
  = render "shared/exhibit-btn"
  = render "shared/header"
  - breadcrumb :mypage
  = render "shared/breadcrumbs"

  .mypage-wrapper
    .mypage-card-register
      %h2.mypage-card-register--title
        クレジットカード情報入力
      = form_with url: add_cards_path ,id: :charge_form,class: :card_form, method: :post do |f|
        .card_form--form
          .signup1-container__main__view__form__box__input.form-group.form-nickname
            = f.label :カード番号, class: :box_name
            %span{class: "form-must"}必須
            = f.text_field :card_number, type: 'text', class: "input-default-number", placeholder: "半角数字のみ", maxlength: "16"
            -# %input{type: "text", placeholder: "半角数字のみ", class: "input-default-1", name: "family_name_kanji"}
            .card-logos
              -# .card-logos__logo
              -#   = render partial: 'shared/card-logo'
          .signup1-container__main__view__form__box__input__box.form-group
            = f.label :有効期限, class: :box_name
            %span{class: "form-must"}必須
            %br

            .signup1-container__main__view__form__box__input__card__month
              = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , type:"text", class:"select-default-month"
              = fa_icon "angle-down", class: "card-pulldown"
              %span.card-span 月
            .signup1-container__main__view__form__box__input__card__year
              = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} ,type:"text", class:"select-default-year"
              = fa_icon "angle-down", class: "card-pulldown"
              %span.card-span 年
            
          .signup1-container__main__view__form__box__input.form-group
            = f.label :セキュリティコード, class: :box_name
            %span{class: "form-must"}必須
            = f.text_field :cvc, class:"input-default-cvc", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4"
            -# %input{type: "text", placeholder: "カード背面4桁もしくは3桁の番号", class: "input-default-1", name: "family_name_kanji"}
            
          .form-group.right.card
            %span.form-question ?
            カード背面の番号とは？
          
          .button-submit#card_token
            = f.submit "登録する", class:"btn-default1"
          -# %button{type:"submit", class:"btn-default1"}次へ進む

    .mypage-nav
      %ul.mypage-nav__list
        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            マイページ
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: "mypage-nav__list-item" do
            お知らせ
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            やることリスト
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            いいね！一覧
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            出品する
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            出品した商品-出品中
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            出品した商品-取引中
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            出品した商品-売却済み
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            購入した商品-取引中
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            購入した商品-過去の取引
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            ニュース一覧
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            評価一覧
            .arrow-right
              = fa_icon "angle-right"
              
        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            ガイド
            .arrow-right
              = fa_icon "angle-right"

        %li
          = link_to "mypage", class: 'mypage-nav__list-item' do
            お問い合わせ
            .arrow-right
              = fa_icon "angle-right"


      .side-menu__merpay
        .side-menu__merpay-head メルペイ
        %ul.side-menu__merpay-ul

          %li
            = link_to "mypage" do
              売上・振込申請
              .arrow-right
                = fa_icon "angle-right"

          %li
            = link_to "mypage", class: 'mypage-nav__list-item' do
              ポイント
              .arrow-right
                = fa_icon "angle-right"

      .side-menu__config
        .side-menu__config-head 設定
        %ul.side-menu__config-ul
          %li
            = link_to "mypage", class: 'mypage-nav__list-item' do
              プロフィール
              .arrow-right
                = fa_icon "angle-right"

          %li
            = link_to "mypage", class: 'mypage-nav__list-item' do
              発送元・お届け先住所変更
              .arrow-right
                = fa_icon "angle-right"
          %li
            = link_to "mypage", class: 'mypage-nav__list-item' do
              支払い方法
              .arrow-right
                = fa_icon "angle-right"
          %li
            = link_to "mypage", class: 'mypage-nav__list-item' do
              メール/パスワード
              .arrow-right
                = fa_icon "angle-right"
          %li
            = link_to users_identification_user_path(current_user), class: 'mypage-nav__list-item' do
              本人情報
              .arrow-right
                = fa_icon "angle-right"
          %li
            = link_to "mypage", class: 'mypage-nav__list-item' do
              電話番号の確認
              .arrow-right
                = fa_icon "angle-right"
          %li
            = link_to users_logout_user_path(current_user), class: 'mypage-nav__list-item' do
              ログアウト
              .arrow-right
                = fa_icon "angle-right"

.background
  = render "shared/footer"